<!DOCTYPE html>
<html>
<head>
  <title>Fuel</title>
  <%= stylesheet_link_tag    "fuel/application", media: "all" %>
  <%= javascript_include_tag "fuel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>