.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/codeclimate_env.rb
spec/dummy/log/development.log
spec/dummy/public/*
coverage/*
build/
spec/dummy/config/application.yml