<header role="banner" class="topbar">
  <nav role="navigation" aria-label="site-main-navigation" class="topbar-navigation">
    <div class="topbar--container__left topbar--logo">
      <%= image_tag 'logos/logo.svg', alt: 'Fuel' %>
    </div>
    <div class="topbar--container__right">
      <ul>
        <li class="topbar--link"><%= link_to 'Contribute', 'https://github.com/LaunchPadLab/fuel/issues' %></li>
        <li class="topbar--link"><%= link_to 'View On Github', 'https://github.com/LaunchPadLab/fuel/', class: 'button button--outline' %></li>
      </ul>
    </div>
  </nav>
</header>