= form_for [:admin, @post] do |f|
  - if @post.errors.any?
    #error_explanation
      h2
        => pluralize(@post.errors.count, "error")
        | prohibited this post from being saved:
      ul
        - @post.errors.full_messages.each do |msg|
          li= msg
  = f.label :title
  = f.text_field :title
  = f.label :tag
  = f.text_field :tag
  = f.label :author
  = f.text_field :author
  = f.label :featured_image_url, "Featured Image URL"
  = f.text_field :featured_image_url
  p= f.label :teaser
  p= f.text_area :content, cols: "89", rows: "5"
  = f.label :content
  br
  .preview-links
    = link_to 'Edit', '#', data: { id: "edit" }, class: "edit-preview-toggle active"
    = link_to 'Preview', '#', data: { id: "preview" }, class: "edit-preview-toggle"
  #content-edit.content-area
    = f.text_area :content, cols: "80", rows: "20"
  #content-preview.content-area style="display:none;"
    = render 'content', content: @post.content
  p
    = f.submit 'Publish', class: 'first-btn fuel-btn'
    = f.submit 'Save Draft', class: 'last-btn fuel-btn'
= form_tag('preview', method: "post", id: "preview_form") do
  = hidden_field_tag :content
