<%#= form_tag('preview', method: "post", id: "preview_form") do %>
  <%#= hidden_field_tag :content %>
<%# end %>
<div class="js-menu sliding-panel-content">
  <header class="sliding-panel-header">
    <h5 class="inverse title">You are currently previewing this post.</h5>
  </header>
  <div class="sliding-panel-body">
    <%= render 'content', content: @post.content %>
  </div>
</div>
<div class="js-menu-screen sliding-panel-fade-screen"></div>