<%= render 'posts' %>
<section class="page">
  <header class="page-header">
    <h5 class="page-header--title"><span>Post</span>: <%= @post.title %></h5>
    <%#= link_to 'Preview', '#', data: { id: "preview" }, class: "edit-preview-toggle" %>
  </header>
  <div class="page-area">
    <%= render 'form' %>
  </div>
</section>

<%#= link_to "Delete", fuel.admin_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>