<%= render 'posts' %>
<section class="page-area">
  <div class="no-content-container">
    <p class="no-content-message">Select a post from the list on the left or <%= link_to 'create', new_admin_post_path, class: 'link-primary' %> a new post.</p>
  </div>
</section>