<%= render 'posts' %>
<section class="page-area">
  <p>Select a post from the list on the left.</p>
</section>
<%#= link_to "Delete", fuel.admin_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>