<%= render 'posts' %>
<section class="page">
  <header class="page-header">
    <h5 class="page-header--title">Create Blog Post</h5>
  </header>
  <div class="page-area">
    <%= render "form" %>
  </div>
</section>