// Base Layout Styles
// ========================================


// Variables
$site-background: $white-light;
$navbar-offset:   75px;


// Global Styles
html,
body {
  background-color: $site-background;
  overflow-x: hidden;

  .is-fixed {
    @include position(fixed);
    width: 100%;
  }
}


// Hide/Show Classes
.mobile--show {
  display: block;
  @include media($tablet-landscape){ display: none; }
}

.mobile--hide {
  display: none;
  @include media($tablet-landscape){ display: block; }
}


// Alignment
.left { float: left; }
.right { float: right; }


// Page Structure
.navbar-offset {
  @include rem(margin-left, $navbar-offset);
}

.no-content-container {
  margin-top: 30%;
  text-align: center;

  .no-content-message {
    @include font-type($primary-sans-serif, normal, 700);
    @include s-echo;
    color: $grey-dark;
  }
}