// Base Layout Styles
// ========================================


// Global Styles
html, body{ overflow-x: hidden; }


// Hide/Show Classes
.mobile--show{
  display: block;
  @include media($tablet-landscape){ display: none; }
}

.mobile--hide{
  display: none;
  @include media($tablet-landscape){ display: block; }
}