// Base Typography
// ========================================

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-type($primary-sans-serif, normal, 400);
  @include s-foxtrot;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-type($primary-sans-serif, normal, 700);
  @include rem(margin-bottom, 18px);
  color: $black-base;
  line-height: 1.0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 { font-size: $font-size-base * 4.25; }
h2 { font-size: $font-size-base * 3.25; }
h3 { font-size: $font-size-base * 2.75; }
h4 { font-size: $font-size-base * 1.85; }
h5 { font-size: $font-size-base * 1.45; }
h6 { font-size: $font-size-base; }

p {
  @include font-type($secondary-sans-serif, normal, 400);
  @include s-foxtrot;
  @include rem(margin-bottom, 12px);
  line-height: $base-line-height;
}

li,
dd{
  @include s-foxtrot;
  @include rem(margin-top, 3px);
  line-height: normal;
}

a {
  @include font-type(inherit, normal, 400);
  @include transition(all 0.3s ease-in-out);
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.75;
    text-decoration: none;
  }

  &.image-link:hover {
    opacity: 1;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

blockquote{
  @include font-type($primary-sans-serif, normal, 300);
  @include s-bravo;
}

cite{
  @include font-type($secondary-sans-serif, normal, 700);
  @include rem(margin-top, 15px);
  @include s-foxtrot;
  display: block;
}


// Type Styles
em{ @include font-type(inherit, italic, inherit); }
strong { @include font-type(inherit, normal, 700);  }

.center{ text-align: center; }
.right{ text-align: right; }

.uppercase{ text-transform: uppercase; }


// Type Sizes
.big{ font-size: 35px;  @include media($tablet){ @include s-giga; } }
.small{ @include s-hotel; }


// Type Colors
.inverse{ color: $white-base; }