<aside class="navbar" role="navigation" aria-label="">
  <div class="navbar-logo">
    <%= image_tag 'fuel/icon-test.png', alt: 'Fuel' %>
  </div>
  <nav class="navbar-navigation">
    <ul>
      <%= link_to fuel.admin_posts_path do %>
        <li class="navbar-link">
          <i class="posts-icon"></i> Posts
        </li>
      <% end %>
      <%= link_to fuel.admin_authors_path do %>
        <li class="navbar-link">
          <i class="authors-icon"></i> Authors
        </li>
      <% end %>
    </ul>
  </nav>
  <footer>

  </footer>
</aside>