<aside class="navbar">
  <div class="navbar-logo">
    <%= image_tag 'fuel/icon-test', alt: 'Fuel' %>
  </div>
  <nav class="navbar-navigation">
    <ul>
      <li></li>
      <li></li>
    </ul>
  </nav>
</aside>