// Home Styles
// ========================================


// Variables
$fuel-background-img:    'backgrounds/fuel.jpg';

$code-block-background:  $grey-light;
$code-block-border:      6px solid $blue-base;
$code-block-margin:      50px 0 0;
$code-block-padding:     20px 10px;


// Structure
.view {
  @include rem(margin-top, 75px);
  width: 100%;
  @include media($tablet-landscape) {
    margin: 0;
  }
}

.view--left__container,
.view--right__container {
  width: 100%;
  padding: 0 30px;
  text-align: center;

  @include media($tablet-landscape) {
    float: left;
    display: inline-block;
    text-align: left;
    width: 50%;
  }

  .content {

    @include media($tablet-landscape) {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

.view--left__container {
  padding: 12% 50px 0;

  .title {
    @include font-type($sans-serif, normal, 300);
    @include s-alpha;
    color: $blue-base;

    @include media($tablet-landscape) { @include s-mega; }
    @include media($tablet-landscape) { @include s-giga; }
  }

  .description {
    @extend %slab-serif;
    @include s-delta;
    color: $grey-dark;

    @include media($tablet-landscape) { @include s-charlie; }
  }
}

.view--right__container {
  @include background-size(cover);
  @include rem(height, 450px);
  @include rem(margin-top, 50px);
  background-image: image-url($fuel-background-img);
  overflow: hidden;

  @include media($tablet-landscape) {
    @include position(fixed);
    margin: 0;
    padding: 8% 50px 0;
    height: 100%;
  }
}


// Page Styles
.code-block {
  @include rem(margin, $code-block-margin);
  @include rem(padding, $code-block-padding);
  background-color: $code-block-background;
  border-left: $code-block-border;

  .code-block--text {
    @include s-delta;
    font-family: monospace;
    margin: 0;
  }
}