// Image Overlay Component
// ========================================


// Variables
$image-overlay-height:   100%;
$image-overlay-position: relative;
$image-overlay-opacity:  0.75;
$image-overlay-z-index:  -1;


// List
$image-overlays: (
  ('blue', $blue-base)
  ('grey', $grey-light)
);


// Structure
@each $image-overlay in $image-overlays {
  $type:  nth($image-overlay, 1);
  $color: nth($image-overlay, 2);

  .image-overlay{
    @include position($image-overlay-position);
    background: $color no-repeat center top;
    height: $image-overlay-height;
    z-index: 1;

    &.image-overlay__#{$type}::after {
      @include position(absolute, 0 0 0 0);
      background-color: $color;
      content: "";
      opacity: $image-overlay-opacity;
      z-index: $image-overlay-z-index;
    }
  }
}