// Navigation Icons Component
// ========================================


// Variables
$marketing-height:     100px;
$marketing-icon-size:  308px 108px;
$marketing-width:      100px;
$marketing-icons:      image-url('icons/marketing-sprite.svg');


// Basic Styles
%marketing-icon{
  background-image: $marketing-icons;
  background-size: $marketing-icon-size;
  background-repeat: no-repeat;
  display: inline-block;
  height: $marketing-height;
  width: $marketing-width;
}


// List
$icons: (
  download  $marketing-width * 0,
  create    $marketing-width * 1,
  publish   $marketing-width * 2
);


// Loop
@each $icon in $icons{
  $name:      nth($icon, 1);
  $position:  nth($icon, 2);

  .icon--#{$name}{
    background-position: -($position * 1) 0;
    @extend %marketing-icon;
  }
}