// Slider Accordion Component
// ========================================

// Variables
$slider-link-color:          $white-base;
$slider-link-offset:         20px 0 0;
$slider-link-padding:        0 0 0 20px;

$slider-options-border:      1px solid $white-base;
$slider-options-padding:     15px;

$slider-title-margin:        10px;

$slider-img-width:           90%;

$slider-trigger-background:  $white-base;
$slider-trigger-height:      30px;
$slider-trigger-padding:     5px 20px;
$slider-trigger-width:       80px;

$slider-trigger-icon-height: 20px;
$slider-trigger-icon-width:  15px;


// Structure
.slider-options {
  @include clearfix;
  @include rem(padding-bottom, $slider-options-padding);
  border-bottom: $slider-options-border;
}

.slider-link {
  @include rem(margin, 12px 0);
  color: $slider-link-color;
  display: none;

  &.is-active-link {
    display: block;
  }

  &.slide-left {
    @include animation(fade-in-left 0.75s ease-in);
  }

  &.slide-right {
    @include animation(fade-in-right 0.75s ease-in);
  }

  .title {
    @include rem(margin-bottom, $slider-title-margin);
    @include s-charlie;
    text-transform: uppercase;
  }

  p { @include font-type($slab-serif, normal, 300); }
}

.slider-items--container {
  display: none;

  @include media($tablet){ display: block; }
}

.slider-item {
  @include clearfix;
  display: none;

  &.is-active { display: block; }
}

.slider-item--image {
  @include position(absolute, null 0 -10% 0);
  margin: 0 auto;
  width: $slider-img-width;
}

.slider--triggers {
  @include position(relative, -20px null null null);
  @include rem(height, $slider-trigger-height);
  @include rem(padding, $slider-trigger-padding);
  @include rem(width, $slider-trigger-width);
  background-color: $slider-trigger-background;
  border: $slider-options-border;
  display: inline-block;
  margin: 0 auto;

  a img {
    @include rem(height, $slider-trigger-icon-height);
    @include rem(width, $slider-trigger-icon-width);
  }
}