// Tobar Component
// ========================================

// Variables
$topbar-offset:              10px;
$topbar-padding:             0 50px;
$topbar-mobile-padding:      0 30px;
$topbar-width:               100%;
$topbar-z-index:             100;

$topbar-logo-width:          125px;

$topbar-link-color:          $white-base;
$topbar-mobile-link-color:   $blue-base;


// Topbar & Footer Structure
.topbar {
  @include clearfix;
  @include rem(padding, $topbar-mobile-padding);
  @include position(fixed, null 0 null 0);
  width: $topbar-width;
  z-index: $topbar-z-index;

  @include media($tablet-landscape) {
    @include rem(padding, $topbar-padding);
  }
}

.topbar--container__left{ float: left; }

.topbar--container__right { float: right; }

.topbar--logo img {
   height: 90px;
   width: 56px;
}

.topbar--link {
  @include rem(padding, 20px 10px);
  color: $topbar-mobile-link-color;
  display: inline-block;

  @include media($tablet-landscape) {
    @include rem(margin, 0 0 0 30px);
    @include rem(padding, 18px 0 11px);
    color: $topbar-link-color;
  }

  & > a,
  .button--outline {
    @include font-type($sans-serif, normal, 700);
    @include s-foxtrot;
    text-transform: uppercase;
  }
}