// Tobar Component
// ========================================

// Variables
$topbar-offset:       10px;
$topbar-padding:      0 50px;
$topbar-width:        100%;
$topbar-z-index:      100;

$topbar-logo-width:   125px;

$topbar-link-color:   $white-base;


// Topbar & Footer Structure
.topbar {
  @include clearfix;
  @include position(fixed, null 0 null 0);
  @include rem(padding, $topbar-padding);
  width: $topbar-width;
  z-index: $topbar-z-index;
}

.topbar--container__left{ float: left; }

.topbar--container__right { float: right; }

.topbar--logo {
  @include rem(margin-top, $topbar-offset);

  img { height: 90px; width: 56px; }
}

.topbar--link {
  @include rem(padding, 20px 30px);
  color: $topbar-link-color;
  display: inline-block;

  @include media($tablet) {
    @include rem(margin, 0 0 0 30px);
    @include rem(padding, 18px 0 11px);
    color: $topbar-link-color;
  }

  & > a,
  .button--outline {
    @include font-type($sans-serif, normal, 700);
    @include s-foxtrot;
    text-transform: uppercase;
  }
}