// Card Component
// ========================================


// Variables
$card-background:    $white-base;
$card-border:        1px solid $grey-base;
$card-border-radius: 3px;
$card-padding:       20px;

$card-fixed-offset:  -2px;
$card-fixed-spread:  0 5px 10px;
$card-fixed-shadow:  rgba(0, 0, 0, 0.25);
$card-fixed-width:   400px;

// Structure
.card {
  @include rem(padding, $card-padding);
  background-color: $card-background;
  border: $card-border;
  border-radius: $card-border-radius;
  overflow: hidden;
}

.card__fixed {
  @include animation(fade-in 0.3s linear);
  @include box-shadow($card-fixed-spread, $card-fixed-shadow);
  @include position(absolute, null null null 100px);
  @include rem(margin-top, $card-fixed-offset);
  @include rem(width, $card-fixed-width);
  z-index: 1000;
}

.card-image {
  @include rem(margin, 20px auto);
  border: $card-border;
  border-radius: 30em;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}

.card-image--avatar {
  @include rem(height, 100px);
  @include rem(width, 100px);
}

.card-image--featured_image {
  @include rem(height, 175px);
  @include rem(width, 175px);
}