// Editor Component
// ========================================


// Variables
$editor-background-color:  $white-dark;
$editor-border:            1px solid $grey-base;
$editor-border-radius:     3px;
$editor-margin:            0 0 -2px;

$editor-button-color:      $black-base;
$editor-button-padding:    5px 12px;
$editor-button-transition: all 0.2s ease-in-out;


// Structure
#editor {
  @include clearfix;
  @include position(relative);
  @include rem(margin, $editor-margin);
  background-color: $editor-background-color;
  border: $editor-border;
  border-top-left-radius: $editor-border-radius;
  border-top-right-radius: $editor-border-radius;
  padding: 0;
}

.editor-button{
  @include rem(padding, $editor-button-padding);
  @include transition($editor-button-transition);
  color: $editor-button-color;
  display: inline-block;
  margin: 0;

  &:nth-child(even) {
    border-left: $editor-border;
    border-right: $editor-border;
  }

  &:hover,
  &.wysihtml5-command-dialog-opened {
    cursor: pointer;
    color: $blue-base;
  }
}