// Form Styles Stylesheet
// ========================================

// Labels
label {
  @include font-type($primary-sans-serif, normal, 700);
  @include rem(margin-bottom, 3px);
  @include s-golf;
  color: $grey-dark;
  display: block;
  text-transform: uppercase;
}

fieldset { @include rem(margin-bottom, 30px); }

// Inputs
#{$all-text-inputs},
input,
input[type="file"],
select,
textarea{
  @include appearance(none);
  @include font-type($primary-sans-serif, normal, 300);
  @include placeholder{ font-style: italic; }
  @include s-golf;
  background-color: $white-base;
  border: 1px solid $grey-light;
  border-radius: 2px;
  box-sizing: border-box;
  height: 40px;
  padding: 8px 6px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-appearance: none;

  &:focus{
    @include box-shadow(0 0 0, transparent);
    border-color: $grey-light;
    outline: none;
  }
}

input[type="submit"] {
  @include s-golf;
  border: none;
  width: inherit;

  &:hover { cursor: pointer; }
}

.datepicker {
  background-image: image-url('fuel/icons/calendar-icon.svg');
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: 18px;
}

// Specific Teaser Heights
textarea {
  &.tease { @include rem(height, 60px); }
  &.post { @include rem(height, 250px); }
}

select{
  background-image: image-url('fuel/icons/dropdown-arrow-icon.svg');
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: 10px;
}


// Form layouts/groups
.half-group {
  @include span-columns(6 of 12);

  .half-group__nested {
    @include span-columns(3 of 6);
  }
}

.third-group { @include span-columns(4 of 12); }

.half-group,
.third-group {

  &.last {
    @include rem(margin-bottom, 20px);
    margin-right: 0;
  }
}

a.delete-post {
  float: right;
  @include s-golf;
}