// Modal Component
// ========================================

$modal-background:    $white-base;
$modal-border-radius: 2px;
$modal-image-height:  135px;
$modal-image-width:   $modal-image-height;
$modal-padding:       15px;


// Stucture
.modal {

  input[type="checkbox"] { display: none; }

  .modal-open { overflow: hidden; }


  .modal-window {
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      z-index: 99998;
    }

    .modal-container{
      @include position(relative, null null null null);
      margin: auto;
      margin-top: 0.8em;
      z-index: 99999;

      @include media($tablet) {
        width: 60%;
        max-height: 60%;
        margin-top: 5em;
      }

      @include media($desktop) {
        width: 50%;
        margin-top: 5em;
      }
    }
  }


  // Modal Header
  .modal-header{
    @include position(relative, null null null null);
    @include rem(padding, $modal-padding);
    background-color: $modal-background;
    border-bottom: 1px solid $grey-light;
    border-top-left-radius: $modal-border-radius;
    border-top-right-radius: $modal-border-radius;

    .modal-header-title{
      @include font-type($primary-sans-serif, normal, 300);
      margin-bottom: 0;
    }
  }


  // Modal Body
  .modal-body{
    @include rem(padding, $modal-padding);
    background: $modal-background;
  }

  .modal-body--tag {
    @include s-foxtrot;
    color: $grey-dark;
    text-transform: uppercase;
  }

  .modal-body--title {
    @include font-type($primary-sans-serif, normal, 700);
    @include s-alpha;
  }

  // Modal Footer
  .modal-footer {
    @include box-shadow(0 -3px 5px, rgba(0, 0, 0, 0.05));
    @include rem(padding, $modal-padding);
    background-color: $modal-background;
    border-bottom-left-radius: $modal-border-radius;
    border-bottom-right-radius: $modal-border-radius;
    text-align: right;
  }

  .modal-link {
    @include font-type($primary-sans-serif, normal, 700);
    @include rem(margin-right, 10px);
    @include rem(padding, 15px 0);
    text-transform: uppercase;
  }

  // Modal Visibility
  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner { top: 0; }
 }