// Navbar Component
// ========================================


// Variables
$navbar-background-color: $blue-dark;
$navbar-padding:          15px 10px;
$navbar-position:         fixed;
$navbar-shadow-color:     rgba(0, 0, 0, 0.5);
$navbar-shadow-spread:    inset 0 0 5px;
$navbar-width:            70px;

$navbar-logo-size:        100px;


// Structure
.navbar{
  @include box-shadow($navbar-shadow-spread, $navbar-shadow-color);
  @include position($navbar-position, -5px null 0 0);
  @include rem(padding, $navbar-padding);
  @include rem(width, $navbar-width);
  background-color: $navbar-background-color;
}

.navbar-logo{
  @include rem(height, $navbar-logo-size);
  @include rem(width, $navbar-logo-size);

  img{ width: 50%; }
}