// Page Siebar Component
// ========================================


// Variables
$sidebar-background-color:      $white-base;
$sidebar-position:              fixed;
$sidebar-shadow-color:          rgba(0, 0, 0, 0.35);
$sidebar-shadow-spread:         0 0 5px;
$sidebar-width:                 250px;

$sidebar-header-background:     $blue-base;
$sidebar-header-padding:        20px 10px;
$sidebar-header-shadow-color:   rgba(0, 0, 0, 0.35);
$sidebar-header-shadow-spread:  2px 0 5px;


// Structure
.page-sidebar{
  @include box-shadow($sidebar-shadow-spread, $sidebar-shadow-color);
  @include position($sidebar-position, 0 null 0 80px);
  @include rem(width, $sidebar-width);
  background-color: $sidebar-background-color;
  overflow: hidden;
}

.page-sidebar--header{
  @include box-shadow($sidebar-header-shadow-spread, $sidebar-header-shadow-color);
  @include rem(padding, $sidebar-header-padding);
  background-color: $sidebar-header-background;

  .header-container--right,
  .header-container--left{
    display: inline-block;
  }

  .header-container--right{
    @include position(relative, -10px null null null);
    float: right;
  }

  .header--title{
    @include s-foxtrot;
    color: $white-base;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.header-container--right__actions{

  li{
    @include rem(margin-right, 5px);
    display: inline;
    float: left;
    vertical-align: middle;

    &:last-child{ margin-right: 0; }
  }
}

.page-area {
  margin-left: $sidebar-width + 50px;
}