<%= render "authors" %>
<section class="page-area">
  <div class="no-content-container">
    <p class="no-content-message">Select an author from the list on the left or <%= link_to 'add', new_admin_author_path, class: 'link-primary' %> a new author.</p>
  </div>
  <p></p>
</section>