// Page Layout Component
// ========================================


// Variables
$page-header-border:    1px solid $grey-light;
$page-header-offset:    245px;
$page-header-padding:   20px 10px;

$page-offset:           0 25px 50px 275px;


//Page Header
.page-header {
  @include rem(margin, 0 0 30px $page-header-offset);
  @include rem(padding, $page-header-padding);
  border-bottom: $page-header-border;
  background-color: $white-base;
  width: auto;
}

.page-header--title {
  @include s-foxtrot;
  margin-bottom: 0;
  text-transform: uppercase;
  display: inline-block;
}

.page-header--link {
  @extend .link-primary;
  @include font-type($primary-sans-serif, normal, 700);
  @include s-foxtrot;
  display: inline-block;
  float: right;
  text-transform: uppercase;
}


// Form Area
.page-area {
  @include rem(margin, $page-offset);
}

.form-container--left {
  @include span-columns(7 of 12);
}

.form-container--right {
  @include span-columns(4 of 12);
  @include shift(1 of 12);
}

.form-group-half{
  @include span-columns(3.5 of 7);
}


//