// Page Siebar Component
// ========================================


// Variables
$post-item-border:  1px solid $grey-light;
$post-item-padding: 15px 20px;

$post-date-color:   $grey-dark;
$post-active-color: $grey-base;


// Structure
.resource-list {
  @include rem(padding-bottom, 50px);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.resource-item {
  @include rem(padding, $post-item-padding);
  border-bottom: $post-item-border;
  margin-top: 0;

  .post-item--date,
  .author-item--title {
    @include font-type($primary-sans-serif, normal, 700);
    @include rem(margin-bottom, 5px);
    @include s-golf;
    color: $post-date-color;
    text-transform: uppercase;
  }

  .post-item--title,
  .author-item--name {
    @include rem(margin-bottom, 5px);
  }

  .post-item--content, .author-item--bio {
    @include font-type($primary-serif, normal, 300);
    @include rem(margin-bottom, 5px);
    @include s-golf;
  }

  &.active {
    border-right: 5px solid $post-active-color;
  }
}