// Page Siebar Component
// ========================================


// Variables
$resource-item-border:       1px solid $grey-light;
$resource-item-padding:      15px 20px;

$resource-hover-background:  $white-dark;

$resource-active-background: $white-dark;
$resource-active-color:      $blue-base;
$resource-date-color:        $grey-dark;

// Structure
.resource-list {
  @include rem(padding-bottom, 50px);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.resource-item {
  @include rem(padding, $resource-item-padding);
  @include transition(all 0.2s ease-in-out);
  border-bottom: $resource-item-border;
  margin-top: 0;

  &:hover{
    background-color: $resource-hover-background;
  }

  &.active {
    background-color: $resource-active-background;
    border-left: 5px solid $resource-active-color;
  }


  // Resource list styles
  .post-item--date,
  .author-item--title {
    @include font-type($primary-sans-serif, normal, 700);
    @include rem(margin-bottom, 5px);
    @include s-hotel;
    color: $resource-date-color;
    text-transform: uppercase;
  }

  .post-item--title,
  .author-item--name {
    @include rem(margin-bottom, 5px);
    @include s-echo;
  }

  .post-item--content, .author-item--bio {
    @include font-type($primary-serif, normal, 300);
    @include rem(margin-bottom, 5px);
    @include s-golf;
  }

  .author-avatar{
    @include rem(height, 50px);
    @include rem(margin-right, 10px);
    @include rem(width, 50px);
    border-radius: 30em;
    float: left;
    overflow: hidden;
  }
}