// WYSIWYG Editors Styles
// ========================================


// Variables
$editor-header-background: $white-light;

$editor-border:            1px solid $grey-light;
$editor-border-radius:     2px;


// Structure
.froala-box {
  border-radius: $editor-border-radius;
  overflow: hidden;
}

.froala-editor.gray-theme {
  background: $editor-header-background;
  border: $editor-border;
}

.gray-theme.froala-box .froala-wrapper.f-basic {
  border: $editor-border;
  border-bottom-left-radius: $editor-border-radius;
  border-bottom-right-radius: $editor-border-radius;
}
