/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *# require_posts
 */
/* ALL FUEL */
.fuel h1 { margin-bottom: 10px; font-size: 2.5em; }

/* ADMIN */
.fuel-admin { margin-top: 20px; width: 90%; float: left; margin-left: 4%; font-family: sans-serif; margin-bottom: 100px;}
.fuel-admin input[type="text"], textarea {
  width: 50%;
  height: 2em;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
}
.fuel-admin textarea {
  width: 100%;
  height: 400px;
}
.fuel-admin label {
  font-weight: bold;
  font-size: 1.5em;
}
.fuel-admin input[type="submit"] { font-size: 2em; font-weight: bold; }
.fuel-admin h1 { margin-top: 40px; margin-bottom: 30px;}
.fuel-admin .markdown{ width: 400px; float: left; }
.fuel-admin tr { text-align: left; border-bottom: 1px solid #ddd; }
.fuel-admin table { border: thin solid #ccc; margin-top: 20px;}
.fuel-admin th { padding: 2px 20px; border-bottom: 1px solid #444; font-size: 1.2em; font-weight: bold;}
.fuel-admin td { padding: 10px 20px; }
.fuel-admin td.date { width: 140px; }
.fuel-admin td.post { width: 500px; }
.fuel-admin .draft { color: green; }
.fuel-admin .save{ margin-left: 40px; background-color: #777; }
.fuel-admin .post-contact-area{ margin-top: 50px; }
.fuel-admin .twitter-follow-button{ margin-top: 5px; }
.fuel-admin fieldset { border: none; margin-top: none; }

/* Blog */
.fuel-posts .fuel-post-title { font-size: 1.8em; margin-top: 20px; }

.fuel-posts h1, .fuel-posts h2, .fuel-posts h3, .fuel-posts h4, .fuel-posts h5, .fuel-posts h6 { font-weight: bold; }
.fuel-posts { padding: 20px; }
.fuel-posts .fuel-post-additional-info { margin-top: 5px; display: block; }
.fuel-posts .fuel-post-author, .fuel-post-date { display: inline; font-size: 1em; color: #999;}
.fuel-posts .fuel-post-content { margin-top: 20px; }
