@import "neat-helpers";

//GRID SETTINGS
  $grid-columns: 12;

//MEDIA QUERIES

  //DEFINED VARIABLES
  $mobile-size:em(320);
  $tablet-size:em(720);
  $desktop-size:em(1200);

  // SPECIAL VARIABLES
  $tablet-landscape: em(1024);

  // Bourbon Neat Breakpoints
  $mobile: new-breakpoint(min-width $mobile-size 4);
  $tablet: new-breakpoint(min-width $tablet-size 9);
  $tablet-landscape: new-breakpoint(min-width $tablet-landscape orientation landscape 9); //LPL Added
  $desktop: new-breakpoint(min-width $desktop-size 12);