---
title: Fuel By LaunchPad Lab
---

<section class="view--left__container">
  <div class="content">
    <h1 class="title">Dead Simple Blogging Engine For Rails Apps</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. View <%= link_to 'Fuel', 'https://github.com/LaunchPadLab/fuel', class: 'link--primary' %> on Github.</p>
    <div class="code-block">
      <p class="code-block--text">gem install fuel</p>
    </div>
  </div>
</section>
<section class="view--right__container image-overlay image-overlay__blue">
  <div class="content center">
    <%= partial 'components/slider' %>
  </div>
</section>