<div class="fuel-post-additional-info">
  <!-- <span class="fuel_post_date"><%= post.created_at.strftime('%b %d, %Y') %> - </span> -->
  <span class="fuel-post-author">By <%= post.author.full_name %> | <%= post.author.title.html_safe %></span>
  <span class="fuel-social-buttons">
    <%= render 'tweet', post: post if action_name == "show" && Fuel.configuration.twitter %>
  </span>
</div>