<div class="fuel fuel-posts">
  <div class="tagline">
    <h1 class="tagline"><%= link_to @blog_title, fuel.blog_root_path %></h1>
  </div>
  <article class="fuel-post fuel-post-show">
    <h2 class="fuel-post-title"><%= @post.title %></h2>
    <%= render 'post', post: @post %>
  </article>
  <div class="disqus-area">
    <%= render 'disqus' if @disqus_name %>
  </div>
</div>
